body{
    margin:0;
    background-color: #46474B;
}
.main-game{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius{
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width:700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: #4BBFE6;
    border-bottom-right-radius: 100%;

}
.red{
    grid-area: vermelho;
    background-color: #E52A3F;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: amarelo;
    background-color: #FFEE3A;
    border-bottom-left-radius: 100%;
}

.green{
    grid-area: verde;
    background-color: #53AB55;
    border-top-left-radius: 100%;
}
.selected {
    opacity: 0.10;
}

