*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1538;
}

.caixa{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.caixa::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animar 4s linear infinite;
}

.caixa::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    border-radius: 16px;
}

@keyframes animar {
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.caixa h2{
    position: relative;
    color:#fff;
    font-size: 300%;
    z-index: 10;
}
