/* RESET */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    /* Tamanho de fonte */
    font-family: 'Georama', sans-serif;
    /* tipo de fonte */
    font-weight: normal;
    /* Largura da fonte */
    box-sizing: border-box;
    /* tamanho da caixa */
    border: none;
    /* Borda */
    outline: none;
    /* linha de fundo */
}

img {
    width: 100;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

p {
    font-size: 1em;
    color: #777
}


/* Cabeçalho */

.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    /* solicitamos que o cabeçalho flutue a esquerda */
    padding: 9px 8%;
    /* padding é o espaçamento, colocamos o px pois ele vai colocar qnd tiver 100% da pág, caso n tenha ele coloca 8% */
    background-image: url(../imagem/background.png);
}

.Logo a {
    /* Utilizamos o espaço a pois desejamos que a alteração pegue apenas o link */
    width: 155px;
    height: 120px;
    float: left;
    background-image: url(../Imagem/logo_pc_2.png);
    font-size: 0;
}

.cabecalho form {
    width: 30%;
    display: flex;
    float: right;
    align-items: center;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 10px 10px 15px 10px;
    /* qnd colocamos o px dessa forma, ele altera os 4 lados do texto no sentido horário da colocação */
    border-radius: 10px 0px 0px 10px;
}

.cabecalho button {
    width: 15%;
    float: right;
    padding: 10px 10px 15px 10px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    /* Serve para qnd colocarmos o cursor mostrar que é um botão */
    background-color: #fff;
}


/* Menu */

.menu {
    width: 100%;
    float: right;
    background-color: #111;
    padding: 18px 8%;
}

.menu li {
    float: left;
}

.menu li a {
    color: #fff;
    margin: 25px;
}

.menu li a :hover {
    color: aliceblue;
    font-size: 1.2em;
}


/* social icons */

.socialicons {
    float: right
}

.socialicons a {
    color: #fff;
    float: left;
    margin-left: 25px;
}

.fa-facebook:hover {
    /* O efeito hover funciona quando passamos o mouse sobre algo, ele gerar um efeito tipo cor/botão */
    color: #3b5998;
}

.fa-google:hover {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.fa-instagram:hover {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-linkedin:hover {
    color: #0e76a8;
}


/* Principal */

.principal {
    width: 100%;
    float: left;
    padding: 16px 8%;
}

.serviços {
    width: 70%;
    float: left;
    padding: 0px 20px 20px 0px;
}

.serviços h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.0em;
}

.serviços img {
    width: 50%;
    float: left;
    border-radius: 6px;
    margin: 0px 15px 15px 0px;
}

.serviços p {
    text-align: justify;
    font-size: 1.2em;
}


/* onde estamos */

.onde-estamos {
    width: 30%;
    float: right;
    padding: 15px 9px;
    background-color: rgba(233, 232, 232, 0.959);
    border-radius: 11px;
    padding-top: 20px;
}

.onde-estamos h2,
p {
    margin-bottom: 5px;
    text-align: center;
}

.onde-estamos iframe {
    width: 100%;
    height: 210px;
    margin: 13px 0;
}

.onde-estamos li {
    color: black;
}

.onde-estamos ul li i a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* newsletter */

.newsletter {
    width: 100%;
    float: left;
    background-color: #0D1526;
    padding: 30px 8%;
}

.newsletter h3 {
    font-size: 1.8em;
    color: #fff;
}

.newsletter p {
    font-size: 1.2em;
    color: #fff;
    text-align: left;
}

.newsletter form {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.newsletter form input {
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: initial;
}

.newsletter button {
    width: 17%;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}

.Rodapé {
    width: 100%;
    float: left;
    background-color: #96A9C8;
    padding: 13px 8%;
}

.Rodapé p {
    color: #fff;
}