@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('credits\ to\ waneella_\ on\ twitter.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
.container
{
    position: relative;
    background: rgba(255, 255, 255,0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.container .calculadora{
    position: relative;
    display: grid;
}
.container .calculadora .value{
    grid-column: span 4;
    height: 140px;
    width: 300px;
    text-align: right; 
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.container .calculadora span
{
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}

.container .calculadora span:hover 
{
    transition: 0s;
    background: rgba(255, 255, 255, 0.05);
}
.container .calculadora span:active{
    background: #14ff47;
    color: #192f00;
    font-size: 24px;
    font-weight: 500;
}
.container .calculadora .numero-apagar{
    grid-column: span 2;
    width: 150px;
    background: rgba(255, 255, 255, 0.05);
}
.container .calculadora .numero-mais{
    grid-row: span 2;
    height: 150px;
}
.container .calculadora .numero-resultado{
    background: rgba(255, 255, 255, 0.05);
}